# Supabase (cada integrante usa su propio proyecto)
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxx
SUPABASE_SERVICE_ROLE_KEY=eyJxxx

# PayPal Sandbox (cada integrante crea su app en developer.paypal.com)
NEXT_PUBLIC_PAYPAL_CLIENT_ID=xxx
PAYPAL_CLIENT_SECRET=xxx

# URL Base de la aplicación para redirecciones de correo electrónico (Auth)
NEXT_PUBLIC_APP_URL=http://localhost:3000
